/* File: style.css
 * Author: Matthew Leeds
 * Last Edit: 7.28.2014
 */

html {
    font-family: Garamond, Georgia;
}

body {
    background-color: #3F444B;
    color: white;
    margin: 0px 50px;
}

#content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.headerpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#notes {
    text-align: center;
}

#intro {
    position: absolute;
    top: 100px;
    left: 540px;
    height: 300px;
    width: 400px;
}

#formdiv {
    position: absolute;
    top: 280px;
    left: 540px;
}

