/* File: style.css
 * Author: Matthew Leeds
 * Last Edit: 7.28.2014
 */

html {
    font-family: Garamond, Georgia;
}

body {
    background: url('http://www.mwleeds.com/ua_background2.jpg') no-repeat center;
    background-color: #3F444B;
    color: white;
}

#content {
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#notes {
    text-align: center;
}

#intro {
    position: relative;
    top: 0;
    left: 30%;
    height: 200px;
    width: 400px;
}

#formdiv {
    position: relative;
    top: 0;
    left: 20%;
}

#container {
    margin-top: 5em;
}

#result {
    text-align: center;
}
